*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #282D35;
    min-height: 100vh;
}

.nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 45px;
}

.nav--logo{
    height: 30px;
    margin-right: 10px;
}

.nav--title{
    font-family: Inter, sans-serif;
    font-size: 22px;
    color: #61DAFB;
    letter-spacing: -0.05em;
}


.nav--text{
    font-family: Inter, sans-serif;
    color: #DEEBF8;
    margin-left: auto;
    padding: auto;
}

main{
    padding: 55px 45px;
    font-family: Inter,sans-serif;
    color: #ffffff;
    background-image: url("./images/back.png");
    background-size: 12rem;
    background-repeat: no-repeat;
    background-position: right 35%;
}

.main--title{
    font-size: 40px;
    letter-spacing: -0.05em;
    margin-top: 1rem;
}

.main--points{
    margin: 55px 70px;
}

.main--points > li{
    margin-bottom: 3rem;
    font-size: 20px;
    padding-left: 1rem;
}

.main--points > li::marker {
    font-size: 1.5rem;
    color: #61DAFB;
    text-align: center;
}